// ###############################################
// ###############################################
// START Boilerplate (not Important for the Tutorial)
	
$prime: #00E5FF
$second: #021111
$secondLight: #042121

body,
html
	background-color: $second
	display: flex
	font-family: 'Roboto'
	font-size: 10px
	min-height: 100%
	justify-content: center
	margin: 0
	padding: 0
	width: 100%

*
	box-sizing: border-box

// END Boilerplate (not Important for the Tutorial)
// ###############################################
// ###############################################

